@model TransactionViewModel
@{
    ViewData["Title"] = "Deposite";
    var items = (IEnumerable<BankAccount>)ViewBag.Accounts;
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="text-success">@ViewBag.Msg</div>
            <div class="form-group">
                <label asp-for="SenderAccId">Bank Number : </label>
                <select asp-for="SenderAccId" class="form-control">
                    @foreach (var item in items)
                    {
                        <option value="@item.Id">@item.IBAN (Balance : @item.Balance)</option>
                    }
                </select>
                <span asp-validation-for="SenderAccId" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount">Amount :</label>
                <input asp-for="Amount" type="number" min="0.00" step=".01" class="form-control" />
                <span asp-validation-for="Amount" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Deposite" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

